<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>USDJPY</string>
		<key>description</key>
		<string>US Dollar vs Japanese Yen</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>AUDCAD</string>
		<key>description</key>
		<string>Australian Dollar vs Canadian Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
	<dict>
		<key>symbol</key>
		<string>EURNZD</string>
		<key>description</key>
		<string>Euro vs New Zealand Dollar</string>
	</dict>
</array>
</plist>
